<div class="container">

  <!-- <input id="intro" type="checkbox">
  <section class="intro">
    <h2>Space Game</h2>
    <p>Jogo só com CSS, sem Javascript ;D</p>
    <label for="intro">Play!</label>
  </section>

  <section class="rules">
    <div>
      <h3>Regras</h3>
      <ul>
      <li>Mova seu personagem com o mouse</li>
      <li>Clique nas moedas para coletá-las</li>
      <li>Fuja dos tiros</li>
      </ul>
      <label for="rules">Entendi :)</label>
    </div>
  </section> -->

  <main class="game">
    <input type="checkbox" id="pause-button">
    <label for="pause-button"></label>

    <div class="inimigos" id="i1"></div>
    <input type="checkbox" class="coin" id="c1" tabindex="-1">
    <div class="inimigos" id="i2"></div>
    <input type="checkbox" class="coin" id="c2" tabindex="-1">
    <div class="inimigos" id="i3"></div>
    <div class="inimigos" id="i4"></div>
    <div class="inimigos" id="i5"></div>
    <div class="inimigos" id="i6"></div>
    <input type="checkbox" class="coin" id="c3" tabindex="-1">
    <div class="inimigos" id="i7"></div>
    <div class="inimigos" id="i8"></div>
    <input type="checkbox" class="coin" id="c4" tabindex="-1">
    <div class="inimigos" id="i9"></div>
    <div class="inimigos" id="i10"></div>
    <div class="game-over">
      Game Over
    </div>
    <div class="game-win">
      Venceu !
    </div>
    <div class="pause-container">
      Pause
    </div>
  </main>
</div>
